@import "tailwindcss";
@import "@fontsource/shippori-mincho/400.css";
@import "@fontsource/noto-serif-sc/400.css";

@plugin "@tailwindcss/typography";

@theme {
  --font-display: "Shippori Mincho", "Noto Serif SC", serif;
  --accent: #2337ff;
  --accent-dark: #000d8a;
  --black: 15, 18, 25;
  --gray: 96, 115, 159;
  --gray-light: 229, 233, 240;
  --gray-dark: 34, 41, 57;
  --gray-gradient: rgb(var(--gray-light), 50%), #fff;
  --box-shadow:
    0 2px 6px rgb(var(--gray), 25%), 0 8px 24px rgb(var(--gray), 33%),
    0 16px 32px rgb(var(--gray), 33%);
}

body {
  @apply font-display m-0 p-0 text-left bg-no-repeat text-lg;

  background-image: linear-gradient(var(--gray-gradient));
  background-size: 100% 600px;
  overflow-wrap: break-word;
  color: rgb(var(--gray-dark));
  line-height: 1.7;
}

main {
  @apply w-[720px] max-w-[calc(100%-2em)] m-auto py-12 px-4;
}

strong,
b {
  @apply font-bold;
}

a {
  color: var(--accent);
}

a:hover {
  color: var(--accent-dark);
}

a:focus {
  outline: 2px solid var(--accent-dark);
  outline-offset: 2px;
}

textarea {
  @apply w-full text-base;
}

input {
  @apply text-base;
}

table {
  @apply w-full;
}

img {
  @apply max-w-full h-auto rounded-lg;
}

@media (width <= 720px) {
  body {
    @apply text-lg;
  }

  main {
    @apply p-4;
  }
}

.sr-only {
  @apply border-0 p-0 m-0 absolute h-px w-px overflow-hidden whitespace-nowrap;

  clip-path: inset(50%);
}
